.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 0;
  background-color: $color-navy-blue;
}

.header__container {
  padding: 0 20px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__phone {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: $color-default-white;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 62px;
}

.header__logo img {
  width: 142px;
  height: 42px;
}
